@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baumans&display=swap");

@media only screen and (max-width: 1050px) {

    .skills .skill {
        width:30vw;
        margin-left:1.5vw;
        margin-right:1.5vw;
    }
}

@media only screen and (max-width: 600px) {

    .skill .skillTitle {
        font-size:3.2vw;
    }

    .skill li {
        font-size:2.7vw;
    }

    .skills .skill ul {
        width:30vw;
        margin-left:0;
        left:0;
        text-indent:0;
        padding-left:4vw;
    }

    .content .skillsDescription {
        width:90vw;
        font-size:5vw;
    }
}

@media only screen and (max-width: 500px) {

    .mainImageText a {
        font-size:4vw;
    }

    .mainImageText .mainImageTitle {
        font-size:10vw;
    }

    .mainImageText .mainImageSubText {
        font-size:4vw;
        width:90vw;
    }

    .mainImage .mainImageText {
        width:90vw;
    }

    .contact .contactItems {
        width:90vw;
        font-size:14px;
    }
}

@media only screen and (max-width: 500px) {

    .mainImageText a {
        font-size:4vw;
    }

    .mainImageText .mainImageTitle {
        font-size:10vw;
    }

    .mainImageText .mainImageSubText {
        font-size:4vw;
        width:90vw;
    }

    .mainImage .mainImageText {
        width:90vw;
    }

    .contact .contactItems {
        width:90vw;
        font-size:14px;
    }
}

@media only screen and (max-width: 450px) {

    .skills .skill {
        width:70vw;
        margin-left:1.5vw;
        margin-right:1.5vw;
    }

    .skills .skill ul {
        width:60vw;
        padding-left:10vw;
    }

    .skills .skill li {
        font-size:3.5vw;
    }

    .skill .skillTitle {
        font-size:4.2vw;
    }

}

body {
    margin:0;
    /*background-image:url("../images/img2.jpg");
    background-size:100%;*/
    scroll-behavior:smooth;
    height:auto;
}

.bgImage {
    position:fixed;
    height:100vh;
    width:100vw;
    background-image:url("../images/img2.jpg");
    background-size:100%;
    z-index:1;
}

* {
    scroll-behavior:smooth;
}

.overlay {
    position:absolute;
    height:100vh;
    width:100vw;
    background-color:rgba(10,15,30,.8);
    box-shadow:0 0 25px 5px rgba(0,0,0,.8) inset;
    z-index:2;
}

    .layout {
        position:relative;
        height:100vh;
        width:100vw;
        z-index:3;
    }

    .mainImage {
        position:absolute;
        height:100vh;
        width:100vw;
        font-size:20px;
    }

        .mainImageText {
            position:relative;
            height:100px;
            width:500px;
            margin:0 auto;
            color:#fff;
            margin-top:200px;
        }

            .navigation {
                width:100%;
                text-align:center;
                padding-bottom:20px;
                font-weight:bold;
                font-family:"Comfortaa";
            }

                .navigation a {
                    display:inline-block;
                    padding:0 10px;
                    margin-left:5px;
                    color:#c2c2c2;
                    transition:color .2s ease;
                    text-decoration:none;
                }

                .navigation a:hover {
                    color:#f8f8f8;
                    cursor:pointer;
                }

            .mainImageTitle {
                font-size:55px;
                font-family:"Baumans";
                font-weight:500;
                text-align:center;
            }

            .mainImageSubText {
                width:300px;
                margin:50px auto;
                text-align:center;
                font-size:18px;
                font-family:"Comfortaa";
                line-height:30px;
                color:#ccc;
            }

            i {
                color:#fff;
            }

    .content {
        position:relative;
        border-top:10px solid #222;
        z-index:3;
    }

        .skillsDescription {
            width:500px;
            margin:0 auto;
            padding-bottom:100px;
            font-size:20px;
            font-family:"Comfortaa";
            color:rgba(0,0,0,.9);
        }

        .skills {
            padding-top:100px;
            height:auto;
            border-top:10px solid #222;
            /*background: rgb(219,219,219);
            background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(150,150,150,1) 100%);*/
            background: rgb(229,229,229);
            background: linear-gradient(180deg, rgba(229,229,229,1) 0%, rgba(170,170,170,1) 100%);
            /*background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(190,190,190,1) 100%);*/
            text-align:center;
        }

            .skill {
                display:inline-block;
                margin-left:25px;
                margin-right:25px;
                height:200px;
                width:300px;
                background-color:rgba(255,255,255,.45);
                box-shadow:0 5px 5px 5px rgba(0,0,0,.05);
                overflow:hidden;

                color:#222;
            }

                .skillTitle {
                    font-size:20px;
                    font-family:"Comfortaa";
                    font-weight:800;
                }

                .skill ul {
                    display:block;
                    font-size:18px;
                    list-style:none;
                    width:300px;
                    text-align:left;
                }

                    .skill li {
                        display:block;
                        width:80%;
                        margin:0;
                        font-family:"Comfortaa";
                        line-height:25px;
                    }

        .contact {
            height:400px;
            border-top:10px solid #222;
            background-color:#111;
            margin-top:-4px;
            overflow:hidden;
        }

            .contactTitle {
                margin-top:100px;
                color:#bbb;
                font-family:'Roboto';
                font-size:32px;
                font-weight:600;
                text-align:center;
            }

            .contactItems {
                width:300px;
                margin:0 auto;
                font-family:'Roboto';
                color:#bbb;
                font-size:16px;
                text-align:center;
                margin-top:50px;
            }

            .contactItems p {
                margin-top:30px;
                color:inherit;
                text-decoration:none;
            }

        .footer {
            position:relative;
            padding-bottom:30px;
            padding-top:10px;
            border-top:20px solid rgba(255,255,255,.03);
            background-color:#000000;
            z-index:10;
            font-family:'Roboto';
        }

            .footer p {
                margin-top:25px;
                color:#666;
                text-align:center;
            }
