@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baumans&display=swap");

@media only screen and (min-height: 900px) {

    .mainImage .mainImageText {
        margin-top:300px;
    }
}

@media only screen and (max-height: 700px) {

    .mainImage .mainImageText {
        margin-top:200px;
    }
}

@media only screen and (max-height: 500px) {

    .mainImage .mainImageText {
        margin-top:100px;
    }
}

@media only screen and (max-width: 1050px) {

    .skills .skill {
        width:30vw;
        margin-left:1.5vw;
        margin-right:1.5vw;
    }
}

@media only screen and (max-width: 600px) {

    .skill .skillTitle {
        font-size:3.2vw;
    }

    .skill li {
        font-size:2.7vw;
    }

    .skill span {
        font-size:2.7vw;
    }

    .skills .skill ul {
        width:30vw;
        margin-left:0;
        left:0;
        text-indent:0;
        padding-left:4vw;
    }

    .content .skillsDescription {
        width:90vw;
        font-size:5vw;
    }
}

@media only screen and (max-width: 500px) {

    .mainImageText a {
        font-size:4vw;
    }

    .mainImageText .mainImageTitle {
        font-size:10vw;
    }

    .mainImageText .mainImageSubText {
        font-size:4vw;
        width:90vw;
    }

    .mainImage .mainImageText {
        width:90vw;
    }

    .contact .contactItems {
        width:90vw;
        font-size:16px;
    }

    .contact .contactTitle {
        font-size:20px;
    }

    body .bgImage {
        background-size:150%;
    }
}

@media only screen and (max-width: 450px) {

    .skills .skill {
        width:70vw;
        margin-left:1.5vw;
        margin-right:1.5vw;
        margin-top:20px;
        height:250px;

    }

    .skills .skill ul {
        width:60vw;
        padding-left:10vw;
    }

    .skills .skill li {
        font-size:3.5vw;
    }

    .skills .skill span {
        font-size:3.9vw;
    }

    .skill .skillTitle {
        font-size:4.6vw;
    }

    body .content {
        /*padding-bottom:80px;*/
    }

}

html {
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

body {
    width:inherit;
    min-height:inherit;
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,1);
    /*background-image:url("../images/img2.jpg");
    background-size:100%;*/
    scroll-behavior:smooth;
    overflow:auto;
    height:auto;
}

/*.bgOverlay {
    position:fixed;
    height:105vh;
    width:100vw;
    background-image:url("../images/img2.jpg");
    background-size:100%;
    z-index:0;
}*/

.bgImage {
    position:fixed;
    height:100vh;
    width:100vw;
    background-image:url("../images/img2.jpg");
    background-size:100%;
    z-index:1;
    overflow:hidden;
}

* {
    scroll-behavior:smooth;
}

.overlay {
    position:fixed;
    height:100vh;
    min-height:450px;
    width:100vw;
    background-color:rgba(10,15,30,.8);
    z-index:2;
}

    .layout {
        position:relative;
        height:100vh;
        min-height:450px;
        width:100vw;
        z-index:3;
    }

    .mainImage {
        position:absolute;
        height:100vh;
        min-height:450px;
        width:100vw;
        font-size:20px;
        box-shadow:0 0 25px 5px rgba(0,0,0,.8) inset;
    }

        .mainImageText {
            position:relative;
            height:100px;
            width:500px;
            margin:0 auto;
            color:#fff;
            margin-top:200px;
        }

            .navigation {
                width:100%;
                text-align:center;
                padding-bottom:20px;
                font-weight:bold;
                font-family:"Comfortaa";
            }

                .navigation a {
                    display:inline-block;
                    padding:0 10px;
                    margin-left:5px;
                    color:#c2c2c2;
                    transition:color .2s ease;
                    text-decoration:none;
                }

                .navigation a:hover {
                    color:#f8f8f8;
                    cursor:pointer;
                }

            .mainImageTitle {
                font-size:55px;
                font-family:"Baumans";
                font-weight:500;
                text-align:center;
            }

            .mainImageSubText {
                width:300px;
                margin:50px auto;
                text-align:center;
                font-size:18px;
                font-family:"Comfortaa";
                line-height:30px;
                color:#ccc;
            }

            i {
                color:#fff;
            }

    .content {
        position:relative;
        border-top:10px solid #222;
        margin:0;
        padding-bottom:0px;
        z-index:3;
    }

        .skillsDescription {
            width:500px;
            margin:0 auto;
            padding-bottom:100px;
            font-size:20px;
            font-family:"Comfortaa";
            color:rgba(0,0,0,.9);
        }

        .skills {
            padding-top:100px;
            height:auto;
            border-top:10px solid #222;
            /*background: rgb(219,219,219);
            background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(150,150,150,1) 100%);*/
            background: rgb(249,249,249);
            background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(229,229,229,1) 70%, rgba(210,210,210,1) 100%);
            /*background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(190,190,190,1) 100%);*/
            text-align:center;
            vertical-align:bottom;
        }

            .skill {
                display:inline-block;
                margin-left:25px;
                margin-right:25px;
                height:350px;
                width:300px;
                /*background-color:rgba(255,255,255,.45);*/
                /*box-shadow:0 5px 5px 5px rgba(0,0,0,.05);*/
                overflow:hidden;
                vertical-align:bottom;

                color:#222;
            }

                .skillTitle {
                    font-size:20px;
                    font-family:"Comfortaa";
                    font-weight:800;
                }

                .skill span {
                    display:block;
                    font-size:18px;
                    width:80%;
                    margin:0 auto;
                    text-align:center;
                    font-family:Sans-serif;
                    font-weight:300;
                }

                .skill ul {
                    display:block;
                    font-size:18px;
                    list-style:none;
                    width:300px;
                    text-align:left;
                }

                    .skill li {
                        display:block;
                        width:80%;
                        margin:0;
                        font-family:"Comfortaa";
                        line-height:25px;
                    }

        .contact {
            padding-top:70px;
            padding-bottom:100px;
            border-top:10px solid #222;
            background-color:#111;
            /*overflow:hidden;*/
        }

            .contactTitle {
                margin:0;
                line-height:100px;
                color:#bbb;
                font-family:'Roboto';
                font-size:32px;
                font-weight:600;
                text-align:center;
            }

            .contactItems {
                width:300px;
                margin:0 auto;
                font-family:'Roboto';
                color:#bbb;
                font-size:16px;
                text-align:center;
                line-height:50px;
                /*margin-top:50px;*/
            }

            .contactItems p {
                margin:0;
                line-height:35px;
                /*margin-top:30px;*/
                color:#bbb;
                text-decoration:none;
            }

        .footer {
            position:relative;
            padding-bottom:30px;
            padding-top:10px;
            border-top:20px solid rgba(255,255,255,.03);
            background-color:#000000;
            z-index:10;
            font-family:'Roboto';
        }

            .footer p {
                margin-bottom:0;
                margin-top:25px;
                color:#777;
                text-align:center;
            }

.returnToSite {
    padding:10px;
    border:2px solid white;
    width:150px;
    margin:auto;
    text-align:center;
    border-radius:2px;
    background-color:rgba(0,0,0,0);
    transition:.2s ease;
    color:#eee;
    font-family:'Comfortaa';
    font-size:16px;
    text-decoration:none;
}

.returnToSite * {
    text-decoration:none;
}

a {
    text-decoration:none !important;
}

.returnToSite:hover {
    background-color:rgba(255,255,255,1);
    cursor:pointer;
    color:#111;
}


form {
}

form label {
    display:block;
    height:80px;
    font-size:18px;
    text-align:left;
}

input::placeholder, textarea::placeholder {
    color:#999;
}

.inputEmail, .inputMessage, .inputSubmit {
    display:block;
    margin:10px auto;
    background-color:rgba(0,0,0,0);
    color:#eee;
    border:none;
    box-shadow:0;
}

.inputSubmit:focus,
.inputSubmit:hover {
    /*outline:2px solid #eee;*/
    background-color:rgba(0,0,0,0);
    border:none;
}

.inputMessage:focus {
    outline:none;
}

.inputEmail:focus {
    outline:none;
}

.inputEmail {
    width:80%;
    font-size:16px;
    padding-bottom:10px;
    border-bottom:1px solid #eee;
}

.inputMessage {
    width:100%;
    margin-left:auto;margin-right:auto;
    margin-top:50px;
    min-height:50px;
    font-size:16px;
    border-bottom:1px solid #ddd;
}

.inputSubmit {
    margin-top:50px;
    padding:10px 20px;
    font-size:16px;
    font-family:'Comfortaa';
    background-color:rgba(0,0,0,0);
    outline:2px solid #eee;
    color:#eee;
    font-weight:bold;
    transition:.2s ease;
    margin-left:auto;margin-right:auto;
}

.inputSubmit:hover {
    outline:2px solid rgba(0,0,0,0);
    background-color:#eee;
    color:#222;
    cursor:pointer;
}

svg {
    display:block;
    margin:0 auto;
    width:100px;
    height:100px;
    fill:rgba(5,10,20,.9);
}
